<style>
	.CLASS figure { margin-top: 15px; }
	.CLASS figure .msg { padding: 10px; border: 1px solid #E0E0E0; background-color: #F8F8F8; border-radius: var(--radius); min-width: 250px; float: left; max-width: 70%; }
	.CLASS figure:first-child { margin-top: 0; }
	.CLASS figure .date { float: right; font-size: 11px; margin-top: 2px; color: #a0a0a0; }
	.CLASS figure .user { font-size: 11px; font-weight: bold; color: #555; }
	.CLASS figure .user img { width: 20px; height: 20px; border-radius: 100px; margin-right: 5px; }
	.CLASS figure .user span { color: #FFF !important; background-color: #E0E0E0; width: 20px; height: 20px; line-height: 21px; font-size: 8px; font-weight: bold; text-align: center; border-radius: 100px; margin-right: 5px; position: relative; display: inline-block; }
	.CLASS figure .content { font-size: 14px; margin-top: 7px; }
	.CLASS figure.owner .msg { border-color: #FADADA; background-color: #FFF3F3; float: right; max-width: 70%; }
	.CLASS .messages { padding: 15px; display: block; }
</style>

<ui-component name="box" path="common.form2" config="if:CLASS;width:640;icon:ti ti-comments;title:@(Comments);reload:?/reload;scrollbar:0" class="hidden CLASS" plugin="CLASS">
	<div>
		<ui-component name="viewbox" path="common.form" config="parent:auto;scrollbarshadow:1;margin:80;$assign:?|viewbox" class="markdown-small">
			<ui-bind path="?.messages" config="template:figure" class="messages">
				<script type="text/html">
					{{ foreach m in value }}
					<figure{{ if m.me }} class="owner"{{ fi }}>
						<div class="msg">
							<span class="date">{{ m.dtcreated | time2 }}</span>
							<div class="user">{{ if m.userphoto }}<img src="{{ m.userphoto }}" class="photo" />{{ fi }}{{ m.username }}</div>
							<div class="content">{{ m.markdown | markdown }}</div>
						</div>
						<div class="clearfix"></div>
					</figure>
					{{ end }}
				</script>
			</ui-bind>

		</ui-component>
		<ui-component name="chatmessage" path="formdetail.id" config="send:?/send;button:@(Send);placeholder:@(Enter a message);$assign:?|message" class="invisible"></ui-component>
	</div>
</ui-component>

<script>
	PLUGIN(function(exports) {

		var ticketid = null;
		var caller;
		var box;

		exports.reload = function(com) {
			caller = exports.caller;
			box = com;
			if (ticketid) {
				exports.refresh();
				setTimeout(exports.message.edit, 800);
			} else {
				setTimeout(exports.refresh, 500);
				setTimeout(exports.message.edit, 1000);
			}
		};

		exports.refresh = function() {
			var detail = W.formdetail;
			if (!detail)
				return;
			ticketid = detail.id;
			exports.tapi('comments/' + detail.id, function(response) {
				for (var m of response)
					m.me = m.userid === user.id;
				exports.set('messages', response);
				caller.set('comments', response.length);
				box.reconfigure({ title: '@(Comments ({0}))'.format(response.length) });
				setTimeout(() => exports.viewbox.scrollbar.scrollBottom(0), 50);
			});
		};

		exports.send = function(msg) {
			SETTER('sounds/play', 'badge');
			exports.tapi('comments_create ERROR', msg, NOOP);
		};

		exports.on('message', function(msg) {
			if (msg.TYPE === 'comment' && msg.id === ticketid && common.form === 'formdetail')
				exports.refresh();
		});

	});

</script>