<div data---="largeform__common.form__if:~PATH~;icon:far fa-cog;title:@(Settings);autofocus:true;reload:?/reload;scrollbar:1;submit:?/submit;width:800" class="hidden" data-scope="~PATH~">
	<div class="padding bg-smoke npb">
		<div class="row">
			<div class="col-md-6 m">
				<div data---="input__?.url__required:1;maxlength:500;type:url__location.origin" class="b">@(URL address)</div>
				<div class="help">@(A URL address to this application)</div>
			</div>
			<div class="col-md-6 m">
				<div data---="input__?.name__required:1;maxlength:50">@(Name)</div>
				<div class="help">@(A name of this application)</div>
			</div>
		</div>
	</div>
	<div class="padding">

		<div class="configuration">

			<section>
				<label>@(SMTP settings)</label>
				<article class="padding">
					<div class="row">
						<div class="col-md-6 m">
							<div data---="input__?.mail_smtp__maxlength:100;placeholder:localhost;camouflage:•__'localhost'">@(SMTP server)</div>
						</div>
						<div class="col-md-6 m">
							<div data---="input__?.mail_from__type:email;forcevalidation:0__'@'">@(Sender email address)</div>
						</div>
					</div>
					<div data---="input__?.mail_smtp_options__maxlength:200;placeholder:{};camouflage:•">@(SMTP options)</div>
					<div class="help">@(SMTP options have to be in valid <b>JSON format</b>, according to the Total.js documentation). <a href="https://docs.totaljs.com/total4/4047d003kk51c/#6ce08001ug51c" target="_blank">@(Documentation)</a></div>
					<hr />
					<div data-bind="%settingssmtpresponse__template">
						<script type="text/html">
							{{ if value }}
								{{ if value.success }}
									<div class="inline-message"><i class="fa fa-check-circle"></i> @(SMTP server is <b>configured correctly</b>).</div>
								{{ else }}
									<div class="inline-message inline-message-error"><i class="fa fa-warning"></i> {{ value[0].error }}</div>
								{{ fi }}
							{{ fi }}
						</script>
					</div>
					<div class="fs12">
						<span class="link exec" data-exec="?/verifysmtp"><i class="fa fa-angle-right mr5"></i>@(Verify SMTP server)</span>
					</div>
				</article>
			</section>

			<section>
				<div class="pull-right" style="margin:12px 10px 0 0">
					<div data---="togglebutton__?.allow_totalapi"></div>
				</div>
				<label>@(Total.js API)</label>
				<article class="padding hidden" data-bind="?.allow_totalapi__show">
					<p>@(With the <b>Total.js API key</b>, the OpenPlatform can send SMS messages or email messages.)</p>
					<div class="row">
						<div class="col-md-6 m">
							<div class="alert">@(You can obtain the Total.js API key on the link:) <a href="https://platform.totaljs.com/?open=api" class="b" target="_blank">https://platform.totaljs.com?open=api</a></div>
						</div>
						<div class="col-md-6">
							<div data---="input__?.totalapi__maxlength:100;required:1;placeholder:@(Enter key);camouflage:•__''">@(Total.js API key)</div>
							<div class="help"><span class="link exec" data-exec="?/verifytotalapi"><i class="fa fa-angle-right mr5"></i>@(Verify API key)</span></div>
						</div>
					</div>
					<div data---="checkbox__?.mail_api">@(Enable sending mail messages via Total.js API)</div>
					<div data-bind="%settingstotalapiresponse__template">
						<script type="text/html">
							{{ if value }}
								<div class="mt10">
									{{ if value.credits != null }}
										<div class="nmb inline-message"><i class="fa fa-check-circle"></i> @(Total API key is <b>valid</b>. Balance:) <b>{{ value.credits | format(2) }} &euro;</b></div>
									{{ else }}
										<div class="nmb inline-message inline-message-error"><i class="fa fa-warning"></i> @(Total API key is <b>invalid</b>).</div>
									{{ fi }}
								</div>
							{{ fi }}
						</script>
					</div>
				</article>
			</section>

			<section>
				<div class="pull-right" style="margin:12px 10px 0 0">
					<div data---="togglebutton__?.allow_tms"></div>
				</div>
				<label>@(Total.js Message Service (TMS))</label>
				<article class="padding npb hidden" data-bind="?.allow_tms__show">
					<p><i class="fas fa-circle mr5" data-bind="?.allow_tms__.green__.red:!value"></i>@(TMS allows you to publish and subscribe data of most important internal operations in the OpenPlatform.) <a href="https://docs.totaljs.com/tms/" target="_blank"><i class="fas fa-book mr5"></i>@(TMS documentation)</a>.</p>
					<div class="row">
						<div class="col-md-6 m">
							<div class="alert" data-bind="?.url__text b:value + '/$tms/'">@(Endpoint for the Total.js Message Service app will be in the form <b></b>)</div>
						</div>
						<div class="col-md-6 m">
							<div data---="input__?.secret_tms__maxlength:100;required:1;placeholder:@(Enter token);camouflage:•__''">@(Security token)</div>
							<div class="help"><span class="exec link" data-exec="?/tms_token"><i class="fas fa-retweet mr5"></i>@(Generate token)</span></div>
						</div>
					</div>
				</article>
			</section>
		</div>
		<br />
	</div>
	<nav data---="validation__?">
		<button name="submit" disabled><i class="fa fa-check-circle"></i>@(SUBMIT)</button>
		<button name="cancel">@(Cancel)</button>
	</nav>
</div>

<script>

	PLUGIN('~PATH~', function(exports) {

		exports.reload = function(com) {
		};

		exports.tms_token = function() {
			var model = GET('?');
			if (model.allow_tms)
				SET('?.secret_tms', Date.now() + GUID(30), 'show');
		};

		exports.verifytotalapi = function(el) {
			var p = '%settingstotalapiresponse @hideloading';
			var model = GET('?');
			var data = {};

			data.totalapi = model.totalapi;

			if (data.totalapi && model.allow_totalapi) {
				if (el instanceof jQuery)
					SETTER('loading/show');
				AJAX('POST /api/settings/totalapi/', data, p);
			} else
				NUL(p);
		};

		exports.verifysmtp = function(el) {

			var p = '%settingssmtpresponse @hideloading';
			var model = GET('?');
			var data = {};
			data.smtp = model.mail_smtp;
			data.smtp_options = model.mail_smtp_options;

			if (data.smtp) {
				if (el instanceof jQuery)
					SETTER('loading/show');
				AJAX('POST /api/settings/smtp/', data, p);
			} else
				NUL(p);
		};

		exports.submit = function(hide) {
			AJAX('POST /api/settings/', GET('? @reset'), ASETTER('message/response', hide));
		};

	});

</script>