@{layout('')}
@{title(config.name)}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="all,follow" />
	<link href="@{'%cdn'}/spa.min@19.css" rel="stylesheet" />
	<script src="@{'%cdn'}/spa.min@19.js"></script>
	<script src="@{REPO.ui}"></script>
	@{import('meta', 'head', 'default.js + ui.js', 'default.css + ui.css', 'favicon.ico')}
</head>
<body>

	<ui-component name="errorhandler"></ui-component>
	<ui-component name="dropfiles" config="check:common/dropcheck;exec:common/dropsend" class="hidden">@(Drag &amp; Drop files here)</ui-component>
	<ui-component name="loading" config="style:2" class="hidden"></ui-component>
	<ui-component name="locale" config="language:@{user.language}"></ui-component>
	<ui-component name="exec"></ui-component>
	<ui-component name="edit"></ui-component>
	<ui-component name="title" path="common.title"></ui-component>
	<ui-component name="nativenotifications"></ui-component>
	<ui-component name="markdown"></ui-component>
	<ui-component name="shortcuts"></ui-component>
	<ui-component name="clipboardimage" config="output:file"></ui-component>
	<ui-component name="faviconunread" path="tickets.counter.unread"></ui-component>
	<ui-component name="directory" config="placeholder:@(Search)"></ui-component>
	<ui-component name="datepicker" config="today:@(Today);days:@(Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday);clear:@(Clear);months:@(January,February,March,April,May,Juny,July,August,September,October,November,December)"></ui-component>

	<ui-component name="info"></ui-component>

	<ui-component name="LAZY sounds"></ui-component>
	<ui-component name="LAZY fileuploader"></ui-component>
	<ui-component name="LAZY floatinginput"></ui-component>
	<ui-component name="LAZY floatingbox"></ui-component>
	<ui-component name="quickpreview"></ui-component>
	<ui-component name="LAZY colorpicker"></ui-component>
	<ui-component name="LAZY filesaver"></ui-component>
	<ui-component name="LAZY approve"></ui-component>
	<ui-component name="LAZY notify" config="position:bottom right"></ui-component>
	<ui-component name="LAZY icons"></ui-component>
	<ui-component name="LAZY menu" config="style:2"></ui-component>
	<ui-component name="LAZY clipboard"></ui-component>

	<div>
		<ui-component name="page" path="common.page" config="if:tickets;url:/pages/tickets.html;reload:?/reload" class="invisible hidden"></ui-component>
	</div>

	<ui-component name="importer" path="common.form" config="if:formdetail;url:/forms/detail.html"></ui-component>
	<ui-component name="importer" path="common.form" config="if:formfolders;url:/forms/folders.html"></ui-component>
	<ui-component name="importer" path="common.form2" config="if:formcreateticket;url:/forms/ticket.html"></ui-component>
	<ui-component name="importer" path="common.form" config="if:formsettings;url:/forms/settings.html"></ui-component>
	<ui-component name="importer" path="common.form" config="if:formtags;url:/forms/tags.html"></ui-component>
	<ui-component name="importer" path="common.form2" config="if:formtag;url:/forms/tag.html"></ui-component>
	<ui-component name="importer" path="common.form2" config="if:formlink;url:/forms/link.html"></ui-component>
	<ui-component name="importer" path="common.form2" config="if:formfolder;url:/forms/folder.html"></ui-component>
	<ui-component name="importer" path="common.form2" config="if:formlogs;url:/forms/logs.html"></ui-component>
	<ui-component name="importer" path="common.form2" config="if:formcomments;url:/forms/comments.html"></ui-component>
	<ui-component name="importer" path="common.form2" config="if:formnotifications;url:/forms/notifications.html"></ui-component>
	<ui-component name="importer" path="common.form2" config="if:formclone;url:/forms/clone.html"></ui-component>
	<ui-component name="importer" path="common.form3" config="if:formtime;url:/forms/time.html"></ui-component>

	@{json(model, 'pluginsdata')}

	<script>

		ENVIRONMENT('helpdesk');

		var user = EMPTYOBJECT;
		var common = {};

		DEF.color = '#4285F4';
		DEF.api = '/api/';
		DEF.versionhtml = '@{CONF.version}';
		DEF.languagehtml = '@{user.language}';

		common.clientid = GUID(5) + Date.now().toString(36);
		common.plugins = PARSE('#pluginsdata');
		common.name = document.title;

		NAV.clientside('.jR');

		(function() {
			ADD('websocket', { url: '/api/' });
		})();

		Thelpers.logwork = function(val, billing) {
			var h = (val / 60);
			return (billing ? Math.ceil(h) : h.floor(1)) + ' @(h)';
		};

		Thelpers.tags = function(tags, larger) {

			if (typeof(tags) === 'string')
				tags = [tags];

			var builder = [];
			for (var m of tags) {
				var item = DEF.cl.tag.findItem('id', m);
				if (item)
					builder.push(('<span class="badge{2} mr5" style="background-color:{1}">{0}</span>').format(item.name, item.color || DEF.color, larger ? '' : ' badge-small'));
			}
			return builder.join('');
		};

		Thelpers.deadline = function(date) {
			var now = date - NOW;
			var m = Math.ceil(now / (1000 * 60));
			var h = Math.ceil(now / (1000 * 60 * 60));
			var d = Math.ceil(now / (1000 * 60 * 60 * 24));
			if (d > 0)
				return d.pluralize('@(# days,# day,# days, # days)');
			return d === 0 ? '@(Today)' : '@(Expired)';
		};

		CLINIT('cl', function(next) {
			TAPI('cl', function(response) {

				for (var item of response.user) {
					var tmp = item.name.split(' ');
					item.initials = tmp[0].substring(0, 1) + (tmp[1] ? tmp[1].substring(0, 1) : '');
					item.color = Thelpers.color(item.name);
					item.template = '{{ name }}{{ if photo }}<img src="{{ photo }}" class="photo" />{{ fi }}';
				}

				var index = response.user.findIndex('id', 'bot');
				if (index !== -1) {
					var bot = response.user[index];
					response.user.splice(index, 1);
					response.user.push(bot);
				}

				next(response, true);

			});
		}, true);

		PLUGIN('common', function(exports) {

			var model = exports.model;

			exports.dropcheck = function(e) {
				return model.form === 'formdetail';
			};

			exports.dropsend = function(files) {
				EXEC(model.form + '/drop', files);
			};

			exports.version = function() {
				exports.tapi('version', function(response) {
					if (response.value !== DEF.versionhtml)
						location.reload();
				});
			};

			exports.on('service', function() {
				exports.version();
			});

		});

		WAIT('#status', function() {
			TAPI('account', 'user');
		});

		MIDDLEWARE('init', next => WAIT(() => user != EMPTYOBJECT, next));

		ROUTE('/', function() {
			SET('common.page', 'tickets');
		}, 'init');

		ROUTE('/{folder}/', function() {
			SET('common.page', 'tickets');
		}, 'init');

		$(W).on('hashchange', function() {
			var id = location.hash.substring(1);
			if (id && id.length > 9)
				EXEC(true, 'tickets/preview', id);
		});

		ON('@flag soundbadge', function() {
			SETTER('sounds/play', 'badge');
		});

		ON('@flag showloading', function() {
			SETTER('loading/show');
		});

		ON('@flag hideloading', function() {
			SETTER('loading/hide', 500);
		});

		Thelpers.owner = function(val) {
			return DEF.cl.user.findValue('id', val, 'name', DEF.empty);
		};

		Thelpers.users = function(val) {

			if (!val)
				return '';

			var builder = [];

			if (!(val instanceof Array))
				val = [val];

			for (var id of val) {
				var item = DEF.cl.user.findItem('id', id);
				if (item) {

					if (item.photo) {
						builder.push('<img src="{photo}" loading="lazy" class="photo" title="{name}" />'.args(item));
						continue;
					}

					var name = item.initials;
					builder.push('<span class="initials" data-id="{id}" title="{1}" style="background:{color}">{0}</span>'.format(name.encode(), item.name.encode()).arg(item));

					/*
					var name = item.name;
					if (initials) {
						name = item.initials;
						builder.push('<span class="initials" data-id="{id}" title="{1}" style="background:{color}">{0}</span>'.format(name.encode(), item.name.encode()).arg(item));
					} else
						builder.push('<span class="initials" data-id="{id}" title="{1}"><i class="ti ti-account mr5" style="color:{color}"></i>{0}</span>'.format(name.encode(), item.name.encode()).arg(item));
					*/
				}
			}

			return builder.join('');
		};

		ON('clipboardimage', function(file) {
			if (common.form === 'formdetail')
				EXEC('formdetail/drop', [file]);
		});

		SETTER(true, 'shortcuts/register', 'esc', function(e) {

			if (common.form3) {
				NULL('common.form3');
				return;
			}

			if (common.form2) {
				NULL('common.form2');
				return;
			}

			if (common.form === 'formdetail') {
				W.focus();
				EXEC('formdetail/hide');
				NULL('common.form', 200);
			} else
				NULL('common.form');

		});

		Thelpers.status = function(id) {
			var status = DEF.cl.status.findItem('id', id);
			return status ? '<i class="{icon} mr5" style="color:{color}"></i>{name}'.arg(status) : DEF.empty;
		};

		ON('service', function(counter) {
			if (counter % 10 === 0)
				CLRELOAD('cl');
		});

		$(document).on('mouseenter mouseleave click', '.markdown-footnote', function(e) {
			if (e.type === 'mouseenter' || e.type === 'click') {
				var el = $(this);
				var container = el.closest('.markdown');
				var offset = el.offset();
				var opt = {};
				opt.x = offset.left + 8;
				opt.y = offset.top + 8;
				opt.html = container.find('.markdown-footnotebody[data-id="{0}"]'.format(ATTRD(el))).html();
				SETTER('info/show', opt);
			} else
				SETTER('!info/hide', true);
		});

		// Component: Tangular-Time
		// Version: 1
		// Updated: 2023-01-12 15:18
		Thelpers.time = function(value) {

			if (!value)
				return value;

			var diff = Date.now() - (value instanceof Date ? value : value.parseDate()).getTime();

			var minutes = ((diff / 1000) / 60) >> 0;
			if (minutes < 60) {
				if (minutes < 3)
					return '@(now)';
				return Thelpers.pluralize(minutes, '@(# minutes ago,# minute ago,# minutes ago,# minutes ago)');
			}

			var hours = (minutes / 60) >> 0;
			if (hours < 24)
				return Thelpers.pluralize(hours, '@(# hours ago,# hour ago,# hours ago,# hours ago)');

			var days = (hours / 24) >> 0;
			if (days < 30)
				return Thelpers.pluralize(days, '@(# days ago,# day ago,# days ago,# days ago)');

			var months = (days / 29) >> 0;
			if (months < 12)
				return Thelpers.pluralize(months, '@(# months ago,# month ago,# months ago,# months ago)');

			var years = (months / 12) >> 0;
			return Thelpers.pluralize(years, '@(# years ago,# year ago,# years ago,# years ago)');
		};

		Thelpers.time3 = function(value) {

			if (!value)
				return value;

			var date = value instanceof Date ? value : value.parseDate();
			var diff = Date.now() - date.getTime();

			if (date.format('yyyyMMdd') === NOW.format('yyyyMMdd'))
				return '@(Today)';

			var minutes = ((diff / 1000) / 60) >> 0;
			var hours = (minutes / 60) >> 0;
			var days = Math.ceil(hours / 24);

			if (days < 30)
				return Thelpers.pluralize(days, '@(# days ago,# day ago,# days ago,# days ago)');

			var months = (days / 29) >> 0;
			if (months < 12)
				return Thelpers.pluralize(months, '@(# months ago,# month ago,# months ago,# months ago)');

			var years = (months / 12) >> 0;
			return Thelpers.pluralize(years, '@(# years ago,# year ago,# years ago,# years ago)');
		};

		Thelpers.time2 = function(value, use3) {
			return value ? '<span class="ta-time" data-time="{0}" title="{2}">{1}</span>'.format(value.getTime(), use3 ? Thelpers.time3(value) : Thelpers.time(value), value.format(null)) : value;
		};

		ON('service', function() {
			$('.ta-time').each(function() {
				var el = $(this);
				el.html(Thelpers.time(new Date(+el.attrd('time'))));
			});
		});
		// End: Tangular-Time

	</script>

</body>
</html>