/*auto*/

.keyvalue { line-height: 17px; font-size: 12px; color: black; }
.keyvalue .value { margin-left: 85px; text-align: right; }
.keyvalue .key { float: left; width: 100px; }
.keyvalue > * { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.bdivider, .sdivider { background-color: var(--color); height: 3px; }
.bdivider { width: 100px; }
.sdivider { width: 100px; }
.form { box-shadow: 0 20px 50px rgba(0,0,0,0.1); }
.logo { float: left; margin: 17px 0 0 0; }
.logo img { height: 15px; }

body { background-color: #FFF; font-family: 'Work Sans', sans-serif; }
header { height: 60px; border-bottom: 1px solid #E0E0E0; background-color: #FFF; position: relative; z-index: 2; }
header .signin { float: right; height: 30px; border-radius: 3px; background-color: var(--color); margin: 13px 0 0 0; line-height: 30px; padding: 0 15px; color: #FFF; font-size: 12px; font-weight: bold; }
header .signin i { margin-right: 7px; }
header .signin:hover { text-decoration: none; opacity: 0.9; }

.main { padding-top: 40px; padding-bottom: 30px; }
.main .container { position: relative; z-index: 1; }
.main h1 { text-align: center; font-size: 50px; margin-bottom: 0px; }
.main h2 { text-align: center; font-size: 26px; font-weight: 400; margin-bottom: 40px; color: gray; }
.mainbg { margin-top: 2%; }
.bgimage { width: 60%; max-width: 1920px; margin: 0 auto; display: block; pointer-events: none; z-index: -1; position: relative; }

.panel { background-color: #FFF; border-radius: 2px; border: 1px solid #E9E9E9; }
.panel > label { display: block; padding: 15px 20px; border-bottom: 1px solid #E0E0E0; font-size: 14px; font-weight: bold; }
.panel > label i { margin-right: 5px; }

.links span { display: block; color: var(--color); font-size: 13px; cursor: pointer; }
.links span i { margin-right: 5px; }
.links span:hover { text-decoration: underline; }

.alert { background-color: #fffad7; border: 1px solid #EDE8C8; padding: 10px; border-radius: 2px; color: #988e56; font-size: 12px; }
.alert i { margin-right: 5px; }

.button { background-color: var(--color); border: 0; color: #FFF; cursor: pointer; outline: 0; width: 100%; border-radius: 5px; height: 34px; text-transform: uppercase; font-family: Arial; font-size: 14px; }
.button:hover { box-shadow: 0 2px 5px rgba(0,0,0,0.1); opacity: 0.9; }
.button:disabled { background-color: #E0E0E0; color: silver; cursor: not-allowed; box-shadow: none; opacity: 1; }
.button i { margin-right: 5px; }
.button-small { height: 32px; font-size: 12px; }
.button-clear { background-color: #CA3F3F; }
.mainbutton { box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); display: block; margin: 0 auto; width: 100%; max-width: 200px; height: 50px; font-weight: 700; font-size: 18px; }

section { padding: 50px 0; }
section h2 { font-size: 40px; margin: 0; line-height: 1.2; margin-bottom: 12px; }
section p { font-size: 20px; }
section img { display: block; margin: 0 auto; }

section.about { padding: 30px 0; }
section.about h3 { font-size: 28px; }

section.dailywork { background: #f7f7f7; padding: 50px 0 40px 0; }
section .sectionrow { display: flex; align-items: center; }
section .dailyworkimage { width: 85%; margin-top: -20%; }
section.dark-mode { background-color: #282828; color: #FFF; padding: 54px 0; }
section.dark-mode img { width: 100%; }
section.pricing .cards { margin: 50px 0 25px; box-shadow: 0 20px 20px rgba(0, 0, 0, 0.04); border-radius: 5px; border: 1px solid #E0E0E0; }
section.pricing .card { padding: 0 50px; text-align: center; margin: 50px 0 }
section.pricing .card i { font-size: 80px; }
section.pricing .card h3 { font-size: 30px; margin-bottom: 0; margin-top: 15px; }
section.pricing .card .price { color: var(--color); font-size: 40px; font-weight: bold; text-transform: uppercase; margin: 0; }
section.pricing .card .price sup { font-size: 18px; top: -1em; }
section.pricing .card p.info { font-size: 14px; margin-top: 0; margin-bottom: 15px; }
section.pricing .card { border-right: 1px solid #E0E0E0; }
section.pricing .card:last-child { border-right: none; }
section.pricing .card .best { background: #333; border-radius: 2px; color: #FFF; position: absolute; top: -36px; right: 0; padding: 3px 30px; font-weight: 700; }
section.pricing .mainbutton { max-width: 390px; }
section.pricing p { text-align: center; font-size: 18px; color: gray; margin-bottom: 30px; }

footer { padding: 50px; border-top: 1px solid #E0E0E0; }
footer .logo { float: none; margin: 0 0 10px 0; display: block; }
footer .copyright { color: gray; float: left; }
footer .author { color: gray; float: right; }
footer .author a { color: var(--color); }

@media(max-width: 1200px) {
	section.about { margin-top: 0; }
	section.about h3 { font-size: 22px; }
	.bdivider, .sdivider { height: 2px; }
}

@media(max-width: 991px) {
	.mainbutton { font-size: 16px; }
	section.pricing .card i { font-size: 50px; }
	section.pricing .card h3 { font-size: 24px; }
	section.pricing .card .price { font-size: 30px; margin: 15px 0 0; }
}

@media(max-width: 768px) {
	section.about h3 { margin: 10px 0 30px 0; }
	section.pricing .cards { margin: 30px 0 30px; }
	section.pricing .card { border-right: 0; border-bottom: 1px solid #E0E0E0; margin: 0 30px; padding: 30px 0; }
	section.pricing .card:last-child { border-bottom: 0; }
	section.pricing .card .best { top: 15px; padding: 3px 15px; }
}

@media(max-width: 576px) {
	.main {padding-top: 10px; }
	.main h1 { font-size: 34px; line-height: 1.3; }
	.main h2 { font-size: 20px; margin-bottom: 30px; }
	.mainbg { margin-top: 10%; }
	.bgimage { width: 90%; }

	section.about { margin-top: 0; }
	section h2 { font-size: 32px; }
	section p { font-size: 18px; }
	section img { width: 40%; }
	section .sectionrow { flex-direction: column }
	section .sectionrow .order:first-child { order: 2; }
	section .sectionrow .order:last-child { order: 1; }
	section .dailyworkimage { width: 70%; margin-top: 0; }
	section.pricing p { font-size: 16px; }

	footer { padding: 30px; }
	footer .container { text-align: center; }
	footer .copyright { float: none; font-size: 12px; margin-bottom: 8px; }
	footer .author { float: none; font-size: 12px; }
}