.ui-markdownbody { position: relative; margin: 10px; display: block; }
.ui-markdownbody .medit { background-color: #F8F8F8; tab-size: 4; white-space: pre; font-family: Menlo, Consolas, monospace; font-size: 14px; line-height: 20px; display: inline-block; width: 100%; padding: 10px; border-radius: var(--radius); white-space: break-spaces; }
.ui-markdownbody .mplaceholder { color: #999; pointer-events: none; position: absolute; z-index: 1; top: -5px; left: 0; }
.ui-markdownbody.editmode .mplaceholder { top: 11px; left: 12px; }

.ui-chatmessage { position: relative; display: block; font-size: 12px; border-top: 1px solid #E0E0E0; font-family: Menlo, Consolas, monospace; font-size: 14px; }
.ui-chatmessage .input { tab-size: 4; white-space: pre; height: 70px; line-height: 20px; display: inline-block; width: 100%; padding: 10px 45px 0 10px; white-space: break-spaces; background-color: #FFF; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none; outline: 0; }
.ui-chatmessage .input::-webkit-scrollbar { display: none; }
.ui-chatmessage .placeholder { color: #999; pointer-events: none; position: absolute; z-index: 1; top: 10px; left: 12px; }
.ui-chatmessage .send { position: absolute; right: 15px; top: 8px; cursor: pointer; font-size: 17px; }

.ui-quickpreview-container { position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 100; }
.ui-quickpreview-content { position: absolute; z-index: 101; }