<style>

	.~ID~ > nav { font-size: 14px; display: block; height: 50px; padding: 10px 0 0 10px; }
	.~ID~ > nav button { border: 0; margin: 0; background-color: #F0F0F0; height: 28px; padding: 0 10px; color: #000; cursor: pointer; font-family: Arial; line-height: 23px; vertical-align: middle; outline: 0; font-size: 12px; text-decoration: none; transition: all 0.3s; float: left; border-left: 1px solid #E0E0E0; }
	.~ID~ > nav button i { width: 12px; text-align: center; margin-right: 5px; }
	.~ID~ > nav button:active { background-color: #D0D0D0; }
	.~ID~ > nav button:disabled { background-color: #F5F5F5 !important; border-color: #E0E0E0 !important; color: silver !important; cursor: not-allowed; box-shadow: none; }
	.~ID~ > nav button:disabled i { color: silver !important; }
	.~ID~ > nav button:first-child { border-top-left-radius: var(--radius); border-bottom-left-radius: var(--radius); border-left: 0; }
	.~ID~ > nav button:last-child { border-top-right-radius: var(--radius); border-bottom-right-radius: var(--radius); }
	.~ID~ .ui-box-icon { color: #68B25B; margin-right: 10px; }
	.~ID~ .ui-box-label { font-weight: normal; color: #A0A0A0; font-size: 13px; user-select: text; font-family: Menlo, Consolas, monospace; }
	.~ID~ .meta i { transform: scale(1); }
	.~ID~ .attachments { font-size: 12px; padding: 0; margin-top: 10px; }
	.~ID~ .attachments .file { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; background-color: #FFF; border-radius: var(--radius); padding: 4px 5px; display: block; vertical-align: top; color: #777; margin-top: 2px; }
	.~ID~ .keyvalue { min-height: 20px; }
	.~ID~ .keyvalue > div { padding: 3px 5px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; min-height: 18px }
	.~ID~ .keyvalue > span { padding-top: 2px; }
	.~ID~ .control { cursor: pointer; border-radius: var(--radius); }
	.~ID~ .control:hover { background-color: #FFF; }
	.~ID~ .options { float: right; }
	.~ID~ .title { margin-top: 0; }
	.~ID~ .note { border-radius:var(--radius); margin-top: 0; }
	.~ID~ .note > div { font-size: 14px; }
	.~ID~ .note p { margin-bottom: 0; }
	.~ID~ .options button { cursor: pointer; border: 1px solid #E0E0E0; border-left: 0; width: 30px; height: 26px; line-height: 24px; text-align: center; background-color: #F0F0F0; }
	.~ID~ .options button:hover { background-color: #FFF; }
	.~ID~ .options button:disabled { background-color: #F0F0F0 !important; cursor: not-allowed; }
	.~ID~ .options button:disabled i { color: #B0B0B0; }
	.~ID~ .options button:first-child { border-top-left-radius: var(--radius); border-bottom-left-radius: var(--radius); border-left: 1px solid #E0E0E0; }
	.~ID~ .options button:last-child { border-top-right-radius: var(--radius); border-bottom-right-radius: var(--radius); }
	.~ID~ .users-bg { padding: 10px; background-color: #F0F0F0; border-radius: var(--radius); line-height: 0; }
	.~ID~ .users-bg:hover { background-color: #F3F3F3; }
	.~ID~ .users { margin-top: 8px; }
	.~ID~ .users > div { position: relative; display: inline-block; font-size: 12px; padding-top: 2px; margin-left: 10px; color: #A0A0A0; vertical-align: middle; }
	.~ID~ .users > span { width: 32px; height: 32px; line-height: 32px; font-weight: bold; vertical-align: middle; }
	.~ID~ .users > img { width: 32px; height: 32px; vertical-align: middle; }
	.~ID~ .users i { font-size: 18px; padding-top: 2px; }
	.~ID~ .readers { position: absolute; top: 15px; left: -50px; z-index: 100; }
	.~ID~ .readers .users > img, .~ID~ .readers .users > div { display: block; margin-bottom: 10px; }
	.~ID~ .readers .photo { border-color: #68B25B; border-width: 2px; }
	.~ID~ .tags i { cursor: pointer; }
	.~ID~ .tabmenu li { padding: 0 10px; }
	.~ID~ .badge { margin: 0 5px 5px 0; font-size: 12px; padding: 5px 8px; }
	.~ID~ .badge i { margin-right: 0; }
	.~ID~ .addtag { cursor: pointer; }
	.~ID~ .addtag:hover { opacity: 0.8; }
	.~ID~ .toolbar { height: 30px; }
	.~ID~ button.selected { background-color: var(--color); color: #FFF; }
	.~ID~ button.selected2 { background-color: #EC8632; color: #FFF; }
	.~ID~ button.selected3 { background-color: #E73323 !important; }
	.~ID~ button.bookmark i { margin: 0; }
	.~ID~ button.comments i { margin: 0; }
	.~ID~ button.comments ui-bind { position: absolute; background-color: #777; color: #FFF; font-size: 10px; width: 18px; height: 18px; text-align: center; line-height: 18px; z-index: 10; pointer-events: none; border-radius: 100px; margin: -10px 0 0 10px; }
	.~ID~ button.nm i { margin: 0; }
	.~ID~ button.timer { background-color: #68B25B; color: #FFF; }
	.~ID~ button.timer i { margin: 0; }
	.~ID~ .meta > h2 { border-bottom: 0; margin-bottom: 10px; padding: 0; outline: 0; }
	.~ID~ .a-bk { color: #000; }
	.~ID~ .ui-iframepreview { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #E0E0E0; padding-left: 10px; padding-right: 10px; }

	.~ID~ .relatedtickets .users { background-color: #fff; padding: 0; border-radius: 0; }
	.~ID~ .relatedtickets .users > img, .~ID~ .relatedtickets .users > span { width: 20px; height: 20px; line-height: 20px; }
	.~ID~ .relatedtickets .users > span { line-height: 20px; font-size: 10px; }
	.~ID~ .relatedtickets { font-size: 12px; padding: 0; margin-top: 10px; }
	.~ID~ .relatedtickets .ticket { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; background-color: #FFF; border-radius: var(--radius); padding: 4px 5px; display: block; vertical-align: top; color: #777; margin-top: 2px; }
	.~ID~ .relatedtickets .ticket .status { width: 120px; display: inline-block; margin-right: 10px; padding-right: 10px; border-right: 1px solid #e0e0e0; }
	.~ID~ .badge-small, .badge.small { font-size: 10px; padding: 0px 3px 1px; }
	.~ID~ .relatedtickets .name { padding: 1px 4px; border-radius: var(--radius); }
	.~ID~ .relatedtickets .remicon { margin-top: 3px; }
	.~ID~ .relatedtickets .remicon i { transform: scale(1); }
	.~ID~ .addticketbtn { background-color: #e0e0e0; padding: 0 10px; border: 0; border-radius: var(--radius); color: #000; line-height: 23px; height: 28px; font-size: 12px; text-decoration: none; transition: all .3s; outline: 0; vertical-align: middle; margin-bottom: 15px; }
	.~ID~ .addticketbtn:hover { opacity: .7; }
	.~ID~ .addticketbtn i { width: 12px; text-align: center; margin-right: 5px; }
	.~ID~ .relatedtickets .ticket.child a { background-color: rgba(255,199,92,0.2); }
	.~ID~ .meta button { height: 30px; font-size: 12px; width: 120px; background: #FFF; }
	.~ID~ .mbody .markdown p { margin: 0 0 15px; padding-left: 0; padding-right: 0; font-size: 15px !important; color: #000; }
	.~ID~ .mbody .markdown { font-size: 15px; }
	.~ID~ .mbody .markdown pre { margin-top: 0; }
	.~ID~ .mbody .markdown-tasks > li { cursor: pointer; }

	.inlinecomment .photo { width: 20px; height: 20px; border-radius: 100px; margin-right: 5px; }

	.related-container ul li { padding: 5px 40px 5px 10px; font-size: 12px; }
	.related-container ul li .status { display: inline-block; width: 100px; height: 14px; border-right: 1px solid #e0e0e0; padding-right: 15px; margin-right: 15px; vertical-align: middle; }
	.related-container ul li .folder { width: 140px; display: inline-block; padding: 0 5px; color: rgb(0 0 0 / 70%); border-radius: var(--radius); font-size: 12px; height: 18px; line-height: 21px; vertical-align: middle; }
	.related-container ul li .name { padding-left: 15px; margin-left: 15px; border-left: 1px solid #e0e0e0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 565px; vertical-align: middle; }
	.related-container ul li .worked { float: right; color: gray; }

	.ui-directory .widget { padding: 5px 10px; }
	.ui-directory .widget i { width: 14px; text-align: center; }
	.ui-directory .widget span { padding-left: 10px; margin-left: 10px; border-left: 1px solid rgba(0,0,0,0.1); }

</style>

<ui-plugin path="CLASS formdetail" class="~ID~">
	<nav>
		<ui-bind path="?.bookmark.is" config=".selected" child=".bookmark">
			<ui-bind path="?.istimer" config="macro:ticketdetailtimer" child=".timer">
				<ui-bind path="?.isunread" config="macro:ticketnotificationsunread" child=".notifications">
					<button class="exec exec2 timer" data-exec="?/timer" data-exec2="?/timer2" title="@(Toggle timer)"><i class="ti ti-play"></i></button>
					<button class="exec comments" data-exec="?/comments" title="@(Toggle comments)"><ui-bind path="?.comments" config="text;show"></ui-bind><i class="ti ti-comment"></i></button>
					<button class="exec bookmark" data-exec="?/bookmark" title="@(Toggle bookmark)"><i class="ti ti-bookmark"></i></button>
					<button class="exec nm notifications" data-exec="?/notifications" title="@(Toggle notifications)"><i class="ti ti-bell"></i></button>
					<button class="exec nm" data-exec="?/note" title="@(Note)"><i class="ti ti-lightbulb-on"></i></button>
					<button class="exec nm" data-exec="?/addticket" title="@(Add related ticket)"><i class="ti ti-relations"></i></button>
					<button class="exec nm" data-exec="?/logs" title="@(Logs)"><i class="ti ti-history"></i></button>
					<button class="exec" data-exec="?/options"><i class="ti ti-sliders-h"></i>@(Options)</button>
				</ui-bind>
			</ui-bind>
		</ui-bind>
	</nav>
	<div>
		<!--
		<ui-bind path="?.readers" config="template" class="readers hidden-md">
			<script type="text/html">
				<div class="users">
					{{ value | users(true) }}
				</div>
			</script>
		</ui-bind>
		-->
		<ui-component name="extend" config="name:detail"></ui-component>
		<ui-component name="viewbox" path="*form" config="parent:auto;margin:50;scrollbarshadow:1;scrollto:top" class="invisible">
			<ui-component name="display" config="xs:500">
				<ui-bind path="?" config="show:value.ispriority && (value.statusid==='open'||value.statusid==='review'||value.statusid==='pending');exec:?/hihglightpriority;track:ispriority,statusid" class="hidden block" style="height:4px"></ui-bind>
				<div class="padding bg-smoke">

					<ui-bind path="?" config="track:id;template" class="meta">
						<script type="text/html">

							{{ if value.note }}
								<div class="markdown">
									<section class="note">
										<div class="b"><i class="ti ti-lightbulb-on mr5"></i>@(Note)</div>
										{{ value.note | markdown2({ wrap: false }) }}
									</section>
								</div>
							{{ fi }}

							{{ if value.statusid === 'pending' }}
								<div class="toolbar m">
									<button class="exec" data-exec="?/timer"><i class="ti ti-start red"></i>@(Start work)</button>
								</div>
							{{ else if value.statusid === 'open' }}
								<div class="toolbar m">
									<button class="exec" data-exec="?/forcestatus" data-id="review"><i class="ti ti-clean orange"></i>@(Review)</button>
									{{ if value.iamowner }}
									<button class="exec" data-exec="?/forcestatus" data-id="closed"><i class="ti ti-check-circle green"></i>@(Close)</button>
									{{ fi }}
								</div>
							{{ else if value.statusid === 'review' }}
								<div class="toolbar m">
									<button class="exec" data-exec="?/forcestatus" data-id="open"><i class="ti ti-history blue"></i>@(Re-open)</button>
									<button class="exec b" data-exec="?/forcestatus" data-id="closed"><i class="ti ti-check-circle green"></i>@(Close)</button>
								</div>
							{{ fi }}

							<h2 class="edit2 title" data-edit="prop:name;required:1;exec:?/modify">{{ value.name }}</h2>

							{{ if !value.ispublic }}
							<div style="min-height:90px">
								<div class="grid-2 grid-xs-1">
									<div class="m">
										<div class="help nmt"><i class="ti ti-users-alt"></i>@(Users)</div>
										<div class="exec users users-bg" data-exec="?/user"><span style="background:#A0A0A0" title="@(Users)"><i class="ti ti-users-alt"></i></span>{{ if value.userid && value.userid.length }}{{ value.userid | users(true) }}{{ else }}<div>@(Choose users)</div>{{ fi }}</div>
									</div>
									<div class="m">
										<div class="help nmt"><i class="ti ti-eye"></i>@(Watchers)</div>
										<div class="exec users users-bg" data-exec="?/watcher" data-type="watcher"><span style="background:#A0A0A0" title="@(Watchers)"><i class="ti ti-users-alt"></i></span>{{ if value.watcherid && value.watcherid.length }}{{ value.watcherid | users(true) }}{{ else }}<div>@(Choose watchers)</div>{{ fi }}</div>
									</div>
								</div>
							</div>
							{{ fi }}

							<div class="grid-2 grid-xs-1">
								<div>
									<div class="keyvalue">
										<span>@(Status)</span>
										<div class="exec control b" data-exec="?/status">{{ value.statusid | status }}</div>
									</div>
									<div class="keyvalue">
										<span>@(Folder) <i class="ti ti-external exec" data-exec="?/foldertasks"></i></span>
										<div class="exec control" data-exec="?/folder"{{ if value.folder }} style="background:{{ value.folder_color | rgba(0.2) }}"{{ fi }}>{{ value.folder | empty }}</div>
									</div>
									<div class="keyvalue">
										<span>@(Owner)</span>
										<div class="exec control" data-exec="?/owner">{{ value.ownerid | owner }}</div>
									</div>
									<div class="keyvalue">
										<span>@(Source)</span>
										<div>{{ value.source | empty }}</div>
									</div>
								</div>
								<div>
									<div class="keyvalue">
										<span><i class="ti ti-start green"></i>@(Date from)</span>
										<div class="exec control" data-exec="?/date">{{ value.date | format }}</div>
									</div>
									<div class="keyvalue">
										<span><i class="ti ti-calendar red"></i>@(Deadline)</span>
										<div class="exec control" data-exec="?/deadline">{{ value.deadline | format('[date]') | empty }}</div>
									</div>
									<div class="keyvalue">
										<span>@(Estimate)</span>
										<div class="exec control" data-exec="?/estimate">{{ value.estimate | logwork }}</div>
									</div>
									<div class="keyvalue">
										<span>@(Worked)</span>
										<div class="exec control b" data-exec="?/logwork">{{ value.worked | logwork }} <span class="green">&bull;</span></div>
									</div>
								</div>
							</div>
							<hr />
							<div class="keyvalue">
								<span style="padding-top:4px">@(Tags)</span>
								<div class="tags">
									{{ if value.tags }}
										{{ foreach m in value.tags }}
										<span class="badge exec" data-exec="?/remtag" style="background-color:{{ m | tagcolor }}" data-id="{{ m }}"><i class="ti ti-times"></i>{{ m | tagname }}</span>
										{{ end }}
									{{ fi }}
									<span class="badge badge-silver addtag exec" data-exec="?/addtag"><i class="ti ti-plus-circle green"></i>@(Add)</span>
								</div>
							</div>

							{{ if value.attachments && value.attachments.length }}
							<hr />
							<div class="b"><i class="ti ti-paperclip mr5"></i>@(Attachments)</div>
							<div class="attachments">
								{{ foreach m in value.attachments }}
								<a href="{{ m.url }}" target="_blank" class="file quickpreview"><span class="pull-right fs11 red ml5 exec" data-exec="?/remattachment" data-prevent="true" data-id="{{ m.id }}"><i class="ti ti-remove"></i></span><span class="pull-right fs11 ml10">{{ m.dtcreated | format('[date]') }}</span><span class="pull-right silver fs11">{{ m.size | filesize }}</span><i class="ti ti-file mr5"></i>{{ m.name }}</a>
								{{ end }}
							</div>
							{{ fi }}
						</script>
					</ui-bind>

					<ui-bind path="?.links" config="template" class="relatedtickets">
						<script type="text/html">
							{{ if value && value.length }}
							<hr style="margin-top:20px" />
							{{ fi }}
							{{ foreach m in value }}
							<div class="ticket {{ if m.type && m.type === 'child' }}child{{ fi }}" data-id="{{ m.id }}"><span class="status">{{ m.statusid | status }}</span><a href="#{{ m.id }}" class="name">{{ m.name }}</a><span class="users">{{ if m.userid && m.userid.length }}{{ m.userid | users(true) }}{{ fi }}</span><span class="remicon pull-right fs11 red ml5 exec" data-exec="?/remlink" data-prevent="true" data-id="{{ m.id }}"><i class="ti ti-remove"></i></span><span class="pull-right fs11" style="margin-top:3px">{{ if m.worked > 0 }}{{ m.worked | logwork }}{{ fi }}</span></div>
							{{ end }}
						</script>
					</ui-bind>

				</div>
				<div style="padding:5px">

					<ui-bind path="?.attrs" config="show:value" class="block m padding npb fs12">
						<div class="b"><i class="ti ti-variables mr5"></i>@(Custom attributes:)</div>
						<ui-component name="objecteditor" path="?.attrs" config="exec:?/attrs" class="mt10"></ui-component>
					</ui-bind>

					<ui-component name="iframepreview" path="?.html" class="hidden"></ui-component>
					<div class="pull-right help exec" data-exec="?/edit" style="margin-right:10px"><i class="ti ti-pencil-alt"></i>@(Edit content)</div>
					<div class="clearfix"></div>
					<div class="ticketmarkdownbody">
						<ui-component name="markdownbody" path="?.markdown" config="minheightoffset:300;save:?/savemarkdown;$setter:?/inlinecomments;placeholder:@(Double-click to edit markdown);$assign:?|markdownbody" class="hidden invisible npt nmb"></ui-component>
					</div>
				</div>
				<br />
			</ui-component>
		</ui-component>
	</div>
</ui-plugin>

<script>
	PLUGIN('CLASS formdetail', function(exports) {

		var changed = false;
		var cache = {};
		var caller = PLUGINS.tickets;
		var ID;

		exports.reload = function() {
			var model = exports.model;
			changed = false;
			ID = model.id;
			exports.refresh();
			exports.refresh_bookmark();
			exports.refresh_paper();
			exports.refresh_timer();
			exports.refresh_links();
			exports.refresh_readers();
			model.iscomment && setTimeout(exports.comments, 1000);
		};

		exports.refresh_links = function() {
			var model = exports.model;
			exports.tapi('tickets_links/' + model.id, 'links');
		};

		exports.refresh_readers = function() {
			var readers = [];
			var col = common.clients;
			for (var key in col) {
				var client = col[key];
				if (client.ticketid.includes(ID))
					readers.push(client.userid);
			}
			exports.set('readers', readers);
		};

		exports.remlink = function(el) {

			var model = exports.model;
			var id = ATTRD(el);
			var link = model.links.findItem('id', id);

			SETTER('approve/show', '@(Are you sure you want to remove related ticket?)', '"ti ti-trash" @(Remove)', function() {
				exports.tapi('tickets_link/' + model.id + ' ERROR', { ticketid: link.type === 'child' ? model.id : id, type: 'rem' }, exports.refresh_links);
			});
		};

		exports.comments = function() {
			var model = exports.model;
			SET('formcomments', { id: model.id, plugin: exports });
			SET('*form2', 'formcomments');
		};

		exports.addticket = function(el) {

			var model = exports.model;
			var opt = {};

			opt.element = el;
			opt.align = 'center';
			opt.offsetY = 40;
			opt.minwidth = 770;
			opt.height = 250;
			opt.classname = 'related-container';
			opt.custom = true;

			opt.items = function(search, next) {
				var notin = [model.id];

				if (model.links) {
					for (var m of model.links)
						notin.push(m.id);
				}

				exports.tapi(QUERIFY('tickets', { q: search, type: 'all', folderid: model.folderid, notin: notin.join(','), limit: 50 }) + ' ERROR', next);
			};

			opt.render = function(item, name) {
				return '<span class="status hellip">{4}</span><span class="folder hellip" style="background-color:{0}">{1}</span><span class="name hellip" title="{2}">{2}</span><span class="worked">{3}</span>'.format(item.folder_color ? Thelpers.rgba(item.folder_color, 0.2) : '#FFF', item.folder || DEF.empty, name, item.worked > 0 ? Thelpers.logwork(item.worked) : null, Thelpers.status(item.statusid));
			};

			opt.callback = function(selected) {

				if (typeof(selected) === 'string') {
					var data = {};
					data.folderid = model.folderid;
					data.name = selected;
					data.ownerid = user.id;
					data.date = new Date();
					data.worked = '10';
					exports.tapi('tickets_create ERROR', data, response => opt.callback({ id: response.value, skip: true }));
					return;
				}

				exports.tapi('tickets_link/' + model.id + ' ERROR', { ticketid: selected.id, type: 'add' }, function() {
					if (selected.skip)
						location.hash = selected.id;
					else
						exports.refresh_links();
				});
			};
			SETTER('directory/show', opt);
		};

		exports.refresh_paper = function() {
			var model = exports.model;
			model.readonly = model.statusid === 'closed';
		};

		exports.refresh = function() {
			var model = exports.model;
			cache = {};
			exports.tapi('tickets_markdown/' + model.id, 'markdown -> markdown');
		};

		exports.refresh_bookmark = function() {
			var model = exports.model;
			exports.tapi('tickets_bookmarks/{0} ERROR'.format(model.id), { type: 'check' }, 'bookmark');
		};

		exports.refresh_timer = function() {
			var model = exports.model;
			var timers = W.parttimers ? W.parttimers.items : EMPTYARRAY;
			var is = !!timers.findItem('ticketid', model.id);
			exports.set('istimer', is);
		};

		exports.bookmark = function() {
			var model = exports.model;
			exports.tapi('tickets_bookmarks/{0} ERROR'.format(model.id), { type: model.bookmark && model.bookmark.is ? 'remove' : 'create' }, function(response) {
				exports.set('bookmark', response);
				caller.exec('counter');
			});
		};

		exports.timer = function(el) {
			var model = exports.model;
			EXEC('parttimers/toggle', model.id, null, el);
		};

		exports.timer2 = function() {
			var model = exports.model;
			var data = {};
			data.ticketid = model.id;
			data.minutes = 5;
			data.date = NOW;
			exports.tapi('logwork_create ERROR', data, function(response) {
				if (response.value)
					model.worked = response.value;
				exports.upd('id');
				changed = true;
				SETTER('sounds/play', 'badge');
			});
		};

		exports.folder = function(el) {

			var model = exports.model;
			var opt = {};

			opt.element = el;
			opt.items = CLONE(DEF.cl.folder);

			opt.callback = function(selected) {
				exports.tapi('tickets_update/{0} ERROR'.format(model.id), { folderid: selected.id || null }, function() {
					model.folderid = selected.id;
					model.folder = selected.name;
					model.folder_color = selected.color;
					model.folder_icon = selected.icon;
					changed = true;
					exports.upd('id');
				});
			};

			EXEC('-directory/show', opt);
		};

		exports.forcestatus = function(el) {

			var model = exports.model;
			var opt = {};
			var statusid = ATTRD(el);

			exports.tapi('tickets_update/{0} ERROR'.format(model.id), { statusid: statusid }, function() {

				model.statusid = statusid;
				changed = true;
				exports.upd('id');
				caller.exec('counter');

				var folder = model.folderid ? DEF.cl.folder.findItem('id', model.folderid) : null;

				if ((statusid === 'review' || statusid === 'closed') && !model.istimer && !model.worked && (!folder || !folder.isprivate)) {
					// Need to log a time
					exports.logwork();
				} else if (model.istimer && (statusid === 'review' || statusid === 'closed')) {
					// Stop the timer
					exports.timer();
				}

				exports.refresh_paper();

				if (el instanceof jQuery && statusid === 'closed')
					NUL('common.form');

			});
		};

		exports.edit = function() {
			exports.markdownbody.edit();
		};

		exports.status = function(el) {
			var model = exports.model;
			var opt = {};
			opt.align = 'left';
			opt.element = el;
			opt.items = CLONE(DEF.cl.status);
			opt.callback = exports.forcestatus;
			EXEC('-menu/show', opt);
		};

		exports.user = exports.watcher = function(el) {

			var type = el.attrd('type');

			var model = exports.model;
			var opt = {};
			var sel = EMPTYARRAY;
			var prop = type === 'watcher' ? 'watcherid' : 'userid';

			opt.element = el;
			opt.items = CLONE(DEF.cl.user);
			opt.checkbox = true;
			opt.offsetWidth = 20;
			opt.offsetY = 25;

			if (model[prop]) {
				for (var item of opt.items)
					item.selected = model[prop].indexOf(item.id) !== -1;
			}

			opt.callback = function(selected) {
				sel = selected;
			};

			opt.close = function() {
				if (sel !== EMPTYARRAY) {
					var items = sel.map(n => n.id);
					exports.tapi('tickets_update/{0} ERROR'.format(model.id), { [prop]: items }, function() {
						changed = true;
						model[prop] = items;
						exports.upd('id');
					});
				}
			};

			EXEC('-directory/show', opt);
		};

		exports.note = function(el) {
			var model = exports.model;
			var opt = {};
			// opt.align = 'right';
			// opt.offsetX = 25;
			// opt.offsetY = 36;
			// opt.icon = 'ti ti-lightbulb-on';
			// opt.minwidth = 400;
			// opt.element = el;
			// opt.monospace = true;
			opt.name = '@(Note)';
			opt.summary = '@(Enter a note for this ticket. This note will be displayed as an alert in the ticket detail.)';
			opt.value = model.note;
			opt.width = 600;
			opt.callback = function(val) {

				if (opt.value === val)
					return;

				exports.tapi('tickets_update/{id} ERROR'.args(model), { note: val }, function() {
					model.note = val;
					exports.upd('id');
				});
			};
			SETTER('prompt/show', opt);
		};

		exports.owner = function(el) {

			var model = exports.model;
			var opt = {};
			var sel = EMPTYARRAY;

			opt.element = el;
			opt.items = DEF.cl.user;
			opt.offsetWidth = 20;
			opt.offsetY = 25;

			opt.callback = function(selected) {
				exports.tapi('tickets_update/{0} ERROR'.format(model.id), { ownerid: selected.id }, function() {
					changed = true;
					model.ownerid = selected.id;
					model.iamowner = model.ownerid === user.id;
					exports.upd('id');
				});
			};

			EXEC('-directory/show', opt);
		};

		exports.remtag = function(el) {
			var model = exports.model;
			var index = model.tags.indexOf(ATTRD(el));
			if (index !== -1) {
				model.tags.splice(index, 1);
				exports.tapi('tickets_update/{0} ERROR'.format(model.id), { tags: model.tags }, function() {
					changed = true;
					exports.upd('id');
				});
			}
		};

		exports.addtag = function(el) {

			var model = exports.model;
			var opt = {};

			opt.element = el;
			opt.items = CLONE(DEF.cl.tag).remove(tag => tag.folderid && tag.folderid !== model.folderid);
			opt.offsetY = -10;
			opt.offsetX = -10;
			opt.offsetWidth = 200;

			if (UNAUTHORIZED('admin')) {
				opt.placeholder = '@(Choose a tag)';
				opt.custom = 1;
			} else {
				opt.placeholder = '@(Choose or create new)';
				opt.custom = 1;
			}

			opt.callback = function(val) {

				// Create new tag
				if (typeof(val) === 'string') {
					if (!UNAUTHORIZED('admin')) {
						var item = opt.items.findItem('name', val);
						if (item) {
							val = item;
						} else {
							var data = { folderid: model.folderid, name: val };
							TAPI('tags_create ERROR', data, function(response) {
								data.id = response.value;
								DEF.cl.tag.push(data);
								opt.callback({ id: response.value });
							});
							return;
						}
					} else
						return;
				}

				val = val.id;

				if (model.tags) {
					if (model.tags.includes(val))
						return;
				} else
					model.tags = [];

				model.tags.push(val);

				TAPI('tickets_update/{0} ERROR'.format(model.id), { tags: model.tags }, function() {
					changed = true;
					exports.upd('id');
				});

			};

			EXEC('-directory/show', opt);
		};

		exports.estimate = function(el) {
			var model = exports.model;
			var opt = {};
			opt.element = el;
			opt.value = model.estimate || '';
			opt.offsetY = -10;
			opt.offsetX = -10;
			opt.icon = 'ti ti-clock';
			opt.summary = '@(Enter the estimated time in minutes.)';
			opt.placeholder = '@(Minutes)';
			opt.callback = function(val) {
				var minutes = FUNC.parseminutes(val);
				exports.tapi('tickets_update/{0} ERROR'.format(model.id), { estimate: minutes }, function() {
					model.estimate = minutes;
					changed = true;
					exports.upd('id');
				});
			};
			EXEC('-floatinginput/show', opt);
		};

		exports.deadline = function(el) {
			var model = exports.model;
			var opt = {};
			opt.element = el;
			opt.value = model.deadline || NOW;
			opt.callback = function(val) {

				if (val) {
					val.setHours(0);
					val.setMinutes(0);
					val.setSeconds(0);
				}

				exports.tapi('tickets_update/{0} ERROR'.format(model.id), { deadline: val }, function() {
					model.deadline = val;
					changed = true;
					exports.upd('id');
				});
			};
			EXEC('-datepicker/show', opt);
		};

		exports.date = function(el) {
			var model = exports.model;
			var opt = {};
			opt.element = el;
			opt.value = model.date || NOW;
			opt.callback = function(val) {

				if (val) {
					val.setHours(0);
					val.setMinutes(0);
					val.setSeconds(0);
				}

				var data = {};
				data.date = val;

				if (model.deadline && val > model.deadline)
					data.deadline = val;

				exports.tapi('tickets_update/{0} ERROR'.format(model.id), data, function() {
					model.date = val;

					if (data.deadline)
						model.deadline = val;

					changed = true;
					exports.upd('id');
				});
			};
			EXEC('-datepicker/show', opt);
		};

		exports.logs = function() {
			var model = exports.model;
			var data = {};
			data.id = model.id;
			data.name = model.name;
			data.worked = model.worked;
			data.estimate = model.estimate;
			SET('formlogs', data);
			SET('common.form2', 'formlogs');
		};

		exports.logwork = function() {

			var model = exports.model;
			var data = {};

			data.name = '';
			data.ticketid = model.id;
			data.callback = function(time) {
				if (time)
					model.worked = time;
				exports.upd('id');
				changed = true;
			};

			SET('formtime @default', data);
			SET('common.form3', 'formtime');
		};

		exports.drop = function(files) {

			var model = exports.model;
			var opt = {};
			var op = common.openplatform;

			if (op)
				op = '&' + op.substring(1);

			opt.url = '/upload/?ticketid={0}{1} ERROR'.format(model.id, op);
			opt.files = files;
			opt.callback = function(response) {

				if (W.$Editable) {

					var builder = [];
					var onlyimages = true;

					// Are images?
					for (var m of response) {
						if (!m.width || !m.height) {
							onlyimages = false;
							break;
						}
					}

					if (onlyimages) {
						for (var m of response)
							builder.push('![{name}]({url})'.args(m));
					} else {
						for (var m of response) {
							m.size = Thelpers.filesize(m.size);
							builder.push('- [{name} ({size})]({url})'.args(m));
						}
					}

					W.$Editable.insert(builder.join('\n'));
					return;
				}

				model.attachments.push.apply(model.attachments, response);
				exports.tapi('tickets_update/{0} ERROR'.format(model.id), { attachments: model.attachments }, function() {
					changed = true;
					exports.upd('id');
				});
			};

			EXEC('-fileuploader/upload', opt);
		};

		exports.upload = function(opt, callback) {
			var model = exports.model;
			var op = common.openplatform;

			if (op)
				op = '&' + op.substring(1);

			opt.url = '/upload/?ticketid={0}{1} ERROR'.format(model.id, op);
			EXEC('-fileuploader/upload', opt, callback);
		};

		exports.remove = function() {
			var model = exports.model;
			EXEC('-approve/show', '@(Are you sure you want to remove selected ticket?)', '"ti ti-remove" @(Remove)', function() {
				exports.tapi('tickets_remove/{0} ERROR'.format(model.id), function() {
					changed = false;
					SETTER('windows/close', model.id);
					REDIRECT(NAV.url);
				});
			});
		};

		exports.remattachment = function(el) {
			var id = ATTRD(el);
			var model = exports.model;
			var index = model.attachments.findIndex('id', id);
			EXEC('-approve/show', '@(Are you sure you want to remove selected attachment?)', '"ti ti-remove" @(Remove)', function() {
				model.attachments.splice(index, 1);
				exports.tapi('tickets_update/{0} ERROR'.format(model.id), { attachments: model.attachments }, function() {
					changed = true;
					exports.upd('id');
				});
			});
		};

		exports.toggle = function(el) {
			var model = exports.model;
			exports.tapi('tickets_update/{0} ERROR'.format(model.id), { isclosed: !model.isclosed }, function() {
				changed = true;
				model.isclosed = !model.isclosed;
				exports.upd('id');
			});
		};

		exports.clone = function() {

			changed = false;

			var model = exports.model;
			var date = NOW;
			var day = date.getDay();

			if (day === 5) {
				if (date.getHours() > 16)
					date = date.add('3 days');
			} else if (day === 6)
				date = date.add('2 days');
			else if (day === 0)
				date = date.add('1 day');

			date.setHours(12);
			date.setMinutes(0);

			var data = {};

			data.id = model.id;
			data.date = date;
			data.name = model.name;
			data.folderid = model.folderid;

			SET('formclone @default', data);
			SET('common.form2', 'formclone');

		};

		exports.options = function(el) {

			var model = exports.model;
			var opt = {};
			opt.element = el;
			opt.align = 'right';
			opt.items = [];
			opt.items.push({ id: 'logwork', name: '@(Log work)', class: 'b', icon: 'ti ti-clock' });
			// opt.items.push({ id: 'close', name: '@(Mark as solved)', classname: 'b', icon: 'ti ti-check-circle green' });
			opt.items.push('-');
			opt.items.push({ id: 'drop', name: '@(Upload attachment)', icon: 'ti ti-file' });
			opt.items.push({ id: 'priority', name: '@(Priority)', icon: 'ti ti-arrow-up', children: [{ id: 'priority', value: 3, name: '@(High)', icon: 'ti ti-flag red', selected: model.ispriority === 3 }, { id: 'priority', value: 2, name: '@(Medium)', icon: 'ti ti-flag orange', selected: model.ispriority === 2 }, { id: 'priority', value: 1, name: '@(Low)', icon: 'ti ti-flag blue', selected: model.ispriority === 1 }, { id: 'priority', value: 0, name: '@(None)', icon: 'ti ti-flag', selected: model.ispriority === 0 }] });
			opt.items.push({ id: 'billable', name: '@(Billable)', icon: 'ti ti-invoice', selected: model.isbillable == true });
			opt.items.push({ id: 'public', name: '@(Open to all)', icon: 'ti ti-users', selected: model.ispublic == true });
			opt.items.push('-');
			opt.items.push({ id: 'logs', name: '@(Logs)', icon: 'ti ti-clock' });
			opt.items.push({ id: 'clone', name: '@(Clone)', icon: 'ti ti-clone' });
			opt.items.push('-');
			opt.items.push({ id: 'remove', name: '@(Remove)', icon: 'ti ti-remove red' });
			opt.plugin = exports;

			EMIT('detail_menu', opt);
			EXEC('-menu/show', opt);

			opt.callback = function(selected) {

				selected.callback && selected.callback(model);

				switch (selected.id) {
					case 'priority':
					case 'billable':
					case 'public':
						var data = {};
						var key = 'is' + selected.id;
						data[key] = selected.id === 'priority' ? selected.value : !selected.selected;
						exports.tapi('tickets_update/{0} ERROR'.format(model.id), data, function() {
							model[key] = data[key];
							exports.upd(key);
							exports.upd('id');
						});
						break;
					default:
						exports[selected.id] && exports[selected.id]();
						break;
				}
			};
		};

		exports.command = function(cmd) {
			var opt = {};
			opt.element = cmd.element;
			opt.placeholder = '@(Search widget)';
			opt.offsetY = 0;
			opt.offsetX = -5;
			opt.items = papercache.widgets;
			opt.render = function(item) {
				return '<div class="widget"><i class="{icon}"></i><span>{name}</span></div>'.args(item);
			};

			opt.callback = function(selected) {
				cmd.append(selected.id);
			};
			SETTER('directory/show', opt);
		};

		exports.modify = function(opt, accept) {
			var model = exports.model;
			var data = {};
			data[opt.prop] = opt.value;
			model[opt.prop] = opt.value;
			exports.tapi('tickets_update/{0} ERROR'.format(model.id), data, function() {
				changed = true;
				accept(true);
			});
		};

		exports.changed = function() {
			changed = true;
		};

		exports.icon = function(meta, callback) {
			var opt = {};
			opt.element = meta.element;
			opt.empty = true;
			opt.callback = function(val) {
				if (val)
					meta.element.rclass2('ti').aclass(val);
				else
					meta.element.remove();
				callback();
			};
			EXEC('-icons/show', opt);
		};

		exports.contextmenu = function(widget, e) {

			var model = exports.model;

			if (model.readonly)
				return;

			e.preventDefault();
			e.stopPropagation();

			var opt = {};
			opt.items = [];
			opt.x = e.pageX;
			opt.y = e.pageY;
			opt.plugin = exports;

			if (e.target.classList.contains('plink')) {
				opt.items.push({ id: 'editlink', name: '@(Edit link)', icon: 'ti ti-link' });
				opt.items.push({ id: 'removelink', name: '@(Remove link)', icon: 'ti ti-trash red' });
				opt.items.push('-');
			} else if (e.target.classList.contains('picon')) {
				opt.items.push({ id: 'removeicon', name: '@(Remove icon)', icon: 'ti ti-trash red' });
				opt.items.push('-');
			}

			opt.items.push({ id: 'remove', name: '@(Remove object)', icon: 'ti ti-trash red' });

			EMIT('detail_contextmenu', opt);

			opt.callback = function(selected) {

				EMIT('detail_contextmenu_selected', selected);

				switch (selected.id) {
					case 'editlink':
						exports.editlink($(e.target));
						break;
					case 'removeicon':
						e.target.parentNode.removeChild(e.target);
						widget.change('update');
						break;
					case 'removelink':
						$(e.target).replaceWith(e.target.innerHTML);
						widget.change('update');
						break;
					case 'remove':
						EXEC('-approve/show', '@(Are you sure you want to remove selected object?)', '"ti ti-remove" @(Remove)', widget.remove);
						break;
				}
			};

			EXEC('-menu/show', opt);
			e.preventDefault();
			e.stopPropagation();
		};

		exports.link = function(opt) {
			if (opt.element.attr('href').charAt(0) === '#')
				exports.editlink(opt.element);
		};

		exports.editlink = function(el) {
			var model = {};
			model.href = el.attr('href');
			model.target = el.attr('target') || '';
			model.element = el;
			SET('formlink @reset', model);
			SET('common.form2', 'formlink');
		};

		exports.savemarkdown = function(val) {
			var model = exports.model;
			setTimeout2('savemarkdown', function() {

				let users = [];
				let data = {};
				let changed = false;

				data.markdown = val;

				var inline = val.match(/@\w+/g);

				if (inline) {
					for (let m of inline) {
						let usr = DEF.cl.user.findItem('search', m.substring(1));
						if (usr) {
							if (!model.userid.includes(usr.id)) {
								model.userid.push(usr.id);
								changed = true;
							}
						}
					}
				}

				if (changed) {
					data.userid = model.userid;
					exports.upd('id');
				}

				exports.tapi('tickets_update/{0}?clientid={1} ERROR'.format(model.id, common.clientid), data, NOOP);

			}, 500);
		};

		exports.notifications = function() {
			var model = exports.model;

			if (model.isunread) {
				// set to read
				exports.set('isunread', false);
			}

			SET('%ticketid', model.id);
			SET('common.form2', 'formnotifications');
		};

		exports.showinlinecomment = function(line) {
			var model = exports.model;
			exports.tapi('comments/{0}?line={1} ERROR'.format(model.id, line), function(response) {
				var last = response.last();
				var opt = {};
				opt.element = exports.element.find('.markdown-line[data-line="{0}"]'.format(line));
				opt.offsetY = 5;
				opt.html = '<div class="quickpreview-window markdown-small inlinecomment" style="max-width:500px"><div>{2}<b>{1}</b></div>{0}</div>'.format(Thelpers.markdown2(last.markdown), Thelpers.encode(last.username), last.userphoto ? '<img src="{0}" alt="" class="photo" />'.format(last.userphoto) : '');
				SETTER('quickpreview/show', opt);
			});
		};

		exports.foldertasks = function() {
			var model = exports.model;
			if (model.folderid) {
				NUL('common.form');
				REDIRECT('/{folderid}/'.args(model));
			}
		};

		var prerendercomments = function() {
			var model = exports.model;

			if (!model.linecomments.length)
				return;

			var comments = {};
			for (var m of model.linecomments)
				comments[m.line + ''] = m.count;

			var lines = exports.element.find('.markdown-line');
			for (var line of lines) {
				if (comments[line.getAttribute('data-line')])
					line.classList.add('commented');
			}

		};

		exports.inlinecomments = function() {
			setTimeout2(exports.id + 'comments', prerendercomments, 100);
		};

		exports.hihglightpriority = function(value, path, el) {
			var priority = DEF.cl.priority.findItem('id', value.ispriority);
			if (priority)
				el.css('border-top', '4px solid ' + priority.color);
		};

		exports.attrs = function() {
			var model = exports.model;
			exports.tapi('tickets_update/' + model.id + ' ERROR', { attrs: model.attrs });
		};

		setTimeout(exports.reload, 10);

	});

	MACRO('ticketdetailtimer', function(self, element) {

		self.setter = function(value) {
			var is = !!value;
			element.tclass('selected3', is);
			element.find('i').tclass('ti-play', !is).tclass('ti-stop-alt', is);
		};

	});

	MACRO('ticketnotificationsunread', function(self, element) {

		self.setter = function(value) {
			var is = !!value;
			element.tclass('selected2', is);
			element.find('i').tclass('ti-bell', !is).tclass('ti-bell-alt', is);
		};

	});

	$(document).on('click', '.commented', function(e) {
		var el = $(this);
		if (!el.closest('.markdown-tasks').length) {
			var path = $(el).plugin();
			EXEC(path + '/showinlinecomment', el.attrd('line'));
		}
		clearTimeout2('quickpreview');
	});

	$(document).on('mouseenter mouseleave', '.quickpreview,.markdown-gallery,.commented', function(e) {

		if (e.type === 'mouseleave') {
			clearTimeout2('quickpreview');
			return;
		}

		var t = this;
		var el = $(t);

		if (t.classList.contains('commented')) {
			var line = t.getAttribute('data-line');
			var path = $(t).plugin();
			setTimeout2('quickpreview', line => EXEC(path + '/showinlinecomment', line), 1000, null, line);
			return;
		}

		var url = el.attr('href') || el.attr('src');

		if (!((/\.(jpg|png|gif|jpeg|webp)$/gi).test(url)))
			return;

		var isimage = t.tagName === 'IMG';
		var opt = {};
		opt.element = el;
		opt.offsetY = 5 + (isimage ? 10 : 0);
		opt.html = '<div class="quickpreview-window"><img src="{0}" style="max-width:700px;max-height:500px" /></div>'.format(url);

		setTimeout2('quickpreview', opt => SETTER('quickpreview/show', opt), 1000, null, opt);
	});

	// Create related ticket quickly
	$(document).on('contextmenu', '.markdown-line', function(e) {

		clearTimeout2('quickpreview');

		var el = $(this);
		var is = el.closest('.ticketmarkdownbody').length > 0;
		if (!is)
			return;

		var plugin = el.plugin();

		e.stopPropagation();
		e.preventDefault();

		var opt = {};
		var tag = el[0].tagName;

		opt.element = el;
		opt.target = $(e.target);
		opt.x = e.pageX;
		opt.y = e.pageY;
		opt.items = [];
		opt.tag = tag;

		if (el.attrd('line') && tag !== 'HR' && tag !== 'BR' && tag !== 'BLOCKQUOTE' && tag !== 'SECTION')
			opt.items.push({ id: 'comment', name: '@(Comment)', icon: 'ti ti-comment' });

		EMIT('detail_contextmenu', opt);

		if (!opt.items.length)
			return;

		opt.hide = function() {
			el.rclass('highlight');
		};

		opt.callback = function(selected) {
			opt.element = el;
			selected.callback && selected.callback(opt);
			switch (selected.id) {
				case 'comment':

					var optinput = {};
					optinput.element = el;
					optinput.placeholder = '@(Enter a comment)';
					optinput.callback = function(val) {
						var line = +el.attrd('line');
						val = '> :ti ti-long-arrow-right: ' + el.text().replace(/\s{2,}/g, ' ').trim().replace(/\n/g, '<br>') + '\n' + val;
						SETTER('sounds/play', 'badge');
						TAPI('comments_create ERROR', { ticketid: plugin.model.id, markdown: val, line: line }, function() {
							var detail = plugin;
							var model = detail.model;
							detail.inc('comments', 1);
							el.aclass('commented');
							var linecomment = model.linecomments.findItem('line', line);
							if (linecomment)
								linecomment.count++;
							else
								PUSH(plugin.path + '.linecomments', { line: line, count: 1 });
						});
					};
					EXEC('-floatinginput/show', optinput);
					break;
			}
		};

		opt.element = null;
		EXEC('-menu/show', opt);
		el.aclass('highlight');
		e.preventDefault();

	});

	WATCH('*clients', function() {
		for (let m of common.windows)
			EXEC(m.path + '/refresh_readers');
	}, true);

</script>
