<style>
	.CLASS figure { padding: 10px; margin-top: 15px; border: 1px solid #E0E0E0; background-color: #F8F8F8; border-radius: var(--radius); }
	.CLASS figure:first-child { margin-top: 0; }
	.CLASS figure .date { float: right; font-size: 11px; margin-top: 2px; color: #a0a0a0; }
	.CLASS figure .user { font-size: 11px; font-weight: bold; color: #555; }
	.CLASS figure .user img { width: 20px; height: 20px; border-radius: 100px; margin-right: 5px; }
	.CLASS figure .user span { color: #FFF !important; background-color: #E0E0E0; width: 20px; height: 20px; line-height: 21px; font-size: 8px; font-weight: bold; text-align: center; border-radius: 100px; margin-right: 5px; position: relative; display: inline-block; }
	.CLASS figure .content { font-size: 14px; margin-top: 7px; }
	.CLASS figure.owner { border-color: #FADADA; background-color: #FFF3F3; }
	.CLASS .messages { padding: 15px; display: block; }
</style>
<ui-plugin config="isolated:1" class="CLASS">
	<ui-component name="viewbox" path="common.form" config="parent:auto;scrollbarshadow:1;margin:50;$assign:?|viewbox" class="invisible markdown-small">
		<ui-bind path="?.messages" config="template:figure" class="messages">
			<script type="text/html">
				{{ foreach m in value }}
				<figure{{ if m.me }} class="owner"{{ fi }}>
					<span class="date">{{ m.dtcreated | time2 }}</span>
					<div class="user">{{ if m.userphoto }}<img src="{{ m.userphoto }}" class="photo" />{{ fi }}{{ m.username }}</div>
					<div class="content">{{ m.markdown | markdown }}</div>
				</figure>
				{{ end }}
			</script>
		</ui-bind>

	</ui-component>
	<ui-component name="chatmessage" path="formdetail.id" config="send:?/send;button:@(Send);placeholder:@(Enter a message)" class="invisible"></ui-component>
</ui-plugin>

<script>
	PLUGIN(function(exports) {

		var ticketid;

		exports.refresh = function() {
			var detail = W.formdetail;
			if (!detail)
				return;
			ticketid = detail.id;
			exports.tapi('comments/' + detail.id, function(response) {
				for (var m of response)
					m.me = m.userid === user.id;
				exports.set('messages', response);
				setTimeout(() => exports.viewbox.scrollbar.scrollBottom(0), 500);
			});
		};

		exports.send = function(msg) {
			SETTER('sounds/play', 'badge');
			exports.tapi('comments_create ERROR', msg, NOOP);
		};

		exports.on('message', function(msg) {
			if (msg.TYPE === 'comment' && msg.id === ticketid && common.form === 'formdetail')
				exports.refresh();
		});

	});

</script>